.orders__section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    color: #ffffff;
    background-color: #0000;
    padding: 0 10px;
    width: 100%;
    height: auto;

    & .orders__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        padding: 5px;
        margin-top: 5px;
        width: 100%;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.575);

        & .orders__back-btn {
            border: none;
            background-color: #fff;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.250);
        }

        & .orders__header-title-group {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 5px;
            width: 100%;

            & .orders-header__icon-btn {
                border: none;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.250);

                & .orders-header__icon {
                    border: none;
                    background-color: none;
                }
            }
        }
    }

    & .orders-body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
        color: #ffffff;
        background-color: #0000;
        padding: 0 5px;
        width: 100%;
        height: auto;

        & .orders-body__header {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;
            border: 1px solid #ccc;
            padding: 10px;
            margin-top: 5px;
            width: 100%;
            text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.575);

            & .header__search-status {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 10px;

                & .header-status__btn {
                    border: none;
                    border-radius: 5px;
                    padding: 5px;
                    background-color: #fff;
                    color: #000;
                    min-width: 80px;
                }
            }

            & .header__search-bar {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;
                width: 100%;

                & .catalog__search-input-wrapper {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 10px;
                    width: 100%;
                }

                & .search-bar__input {
                    padding: 8px;
                    width: 90%;
                }
            }
        }
    }

    & .orders-body__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid #ccc;
        padding: 2px;
        width: 100%;
        

        & .card__header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            gap: 5px;
            border-bottom: 1px solid #ccc;
            padding: 10px;

            & .header__status {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 10px;
                padding: 5px;

                & .status__edit-btn {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    border: none;
                    border-radius: 15px;
                    background-color: none;
                    width: 22px;
                    left: 33%;
                }

                & .edit-btn__img {
                    width: 22px;
                }

                & .header__process {
                    background-color: #eb9a21;
                    border-radius: 10px;
                    padding: 5px;
                }

                & .header__local {
                    display: flex;
                    flex-direction: row;
                }
            }

            & .header__details {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 5px;
                padding: 5px;

                & .header__details-info {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }

                & .header__details-btn {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    
                    & .details-btn__btn {
                        border: none;
                        border-radius: 5px;
                        padding: 4px;
                    }
                }
            }
        }

        & .card__body {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            & .card-body__img-price {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                gap: 10px;
                padding: 10px;
                width: 100%;

                & .card-body__img {
                    width: 100px;
                    height: 100px;
                }

                & .card-body__information {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 5px;
                    width: 100%;

                    & .card-body__price {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: flex-end;
                        width: 95%;
                        font-size: 1.3rem;
                    }
                }
            }
        }

        & .order-details {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items:flex-start;
            font-size: 1rem;
            padding: 10px;
            gap: 5px;
            width: 100%;

            & .order-details__information {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items:flex-start;
                gap: 5px;
                width: 100%;

                & .order-information__title {
                    border: 1px solid #ccc;
                    border-radius: 15px;
                    background-color: #eb9a21;
                    padding: 5px 10px;
                }

                & .order__information {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items:flex-start;
                    width: 100%;
                }
            }

            & .order-details__more-information {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items:flex-start;
                gap: 10px;
                width: 100%;

                & .more-information__header {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items:flex-start;
                    width: 100%;

                    & .header__btn {
                        border: 1px solid #ccc;
                        border-radius: 10px;
                    }

                    & .more-information__img {
                        width: 30px;
                    }

                    & .more-information__title {
                        border-bottom: 1px solid #ccc;
                    }
                }

                & .more-information__identical-btn {
                    border: none;
                    border-radius: 15px;
                    font-size: 1rem;
                    color: #fff;
                    background-color: #eb9a21;
                    padding: 5px;
                    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.575);
                }
            }
        }

        & .see-order-section {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items:flex-start;
            gap: 15px;
            width: 100%;
            padding: 5px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.575);

            & .see-order__header {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items:flex-start;
                gap: 10px;
                border: 1px solid #1a1919;
                border-radius: 10px;
                padding: 5px;
                width: 100%;

                & .header__shipping-date {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
                    gap: 10px;

                    & .shipping-date__img {
                        width: 25px;
                    }

                    & .shipping-date__date {
                        border: none;
                        border-radius: 5px;
                        background-color: #eb9a21;
                        padding: 3px;
                    }
                }
            }

            & .see-order__address {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items:flex-start;
                gap: 5px;
                border: 1px solid #1a1919;
                border-radius: 10px;
                padding: 5px;

                & .address__img {
                    width: 25px;
                }

                & .address__information {
                    font-size: 0.9rem;

                    & .information-paragraph {
                        border: none;
                        border-radius: 10px;
                        background-color: #eb9a21;
                        width: 50%;
                        padding: 5px;
                    }
                }
            }

            & .see-order__card-order {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items:flex-start;
                gap: 5px;
                border: 1px solid #1a1919;
                border-radius: 10px;
                padding: 5px;
                width: 100%;

                & .card-order__body {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 100%;

                    & .body__img-price {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        gap: 10px;
                        padding: 10px;
                        width: 100%;

                        & .body__img {
                            width: 100px;
                            height: 100px;
                        }

                        & .body__information {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            padding: 5px;
                            width: 100%;

                            & .body__price {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                align-items: flex-end;
                                width: 95%;
                                font-size: 1.3rem;
                            }
                        }
                    }
                }
            }

            & .see-order__accept-notification {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 10px;
                border: 1px solid #ccc;
                border-radius: 10px;
                padding: 10px;
            }
        }

        & .similar-orders {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items:flex-start;
            gap: 15px;
            width: 100%;
            padding: 5px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.575);

            & .similar-orders__grid {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                gap: 10px;
                width: 100%;
            }
        }
    }
}